.choose{
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 60px;
    
}
.choose-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h2.choose-title{
    font-family: 'Barlow Condensed', 'Poppins';
    font-size: 55px;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 22px;
    margin-left: 0px;
    font-weight: 600;
    text-transform: capitalize;
}

h5.choose-text{
    font-family: 'IBM Plex Sans', 'Poppins' sans-serif;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-weight: 400;
}
.choose-col{
    box-shadow: 7px 9px 10px -7px #d8ae5e;
    z-index: 10;
    background-color: #d8ae5e;
    transition: all ease 0.2s;
}
.choose-col:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.choose-card{
    background-color: #d8ae5e;
}
.choose-number{
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    font-weight: 600;
}
.ant-card-bordered{
    border-width: 0px;
}
.choose-icon{
    width: 29%;
    margin-top: -60px;
}
h2.ant-typography.choose-card-title{
    font-family: 'Barlow Condensed', 'Poppins', sans-serif;
    font-size: 21px;
    width: 100%;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 2px;
    margin-left: 0px;
    font-weight: 600;
    text-transform: capitalize;
}
p.choose-card-txt{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 13px;
    width: 100%;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 2px;
    margin-left: 0px;
    font-weight: 400;
    padding: 0px 10px;
    line-height: 26px;
}

.conact-area{
    width: 100%;
    float: left;
    background: url(/basement5.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
h1.conact-for-basment-renovation{
    color: #ffffff;
    font-family: 'Barlow Condensed', 'Poppins', sans-serif;
    font-size: 55px;
    text-align: center;
    width: 100%;
    margin-top: 14px;
    font-weight: 600;
    float: left;
    line-height: 77px;
    text-transform: capitalize;
}    

a.ant-btn.conact-area-btn{
    font-weight: 600;
    padding: 20px 20px !important;
    border-width: 3px;
    height: auto !important ;
    text-transform: uppercase;
    font-size: 18px;
    /* width: 226.81px; */
}
button.ant-btn.conact-area-btn{
    font-weight: 600;
    padding: 20px 20px !important;
    border-width: 3px;
    height: auto !important ;
    text-transform: uppercase;
    font-size: 18px;
    width: 226.81px;
}
/* .conact-area-btn:hover {
    color: #333333 !important;
    background-color: #ffffff !important;
} */
.appointment{
    width: 100%;
    /* float: left; */
    padding-top: 40px;
    padding-bottom: 20px;
}

.appointment-legal{
    float: left;
    border: 2px solid #ffffff;
    padding: 55px 21px;
}
h1.legal-title{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    word-wrap: normal;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 3px;
}
h5.legal-text{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    float: left;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 9px;
    line-height: 32px;
}
h5.appointment-sub-title{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    width: 100%;
    margin-top: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 9px;
    
}
h1.appointment-title{
        font-family: 'Poppins', sans-serif;
    font-size: 49px;
    width: 100%;
    margin-top: 8px !important;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
    line-height: 49px;
}

form.appointment-form  .ant-input-lg {
    line-height: 1.57 !important;
}

h3.ant-typography.municpal-title{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 24px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 32px;
    margin-left: 0px;
    font-weight: 600;
    text-transform: uppercase;
}

.municipal-logo-box{
    padding: 12px;
    box-shadow: 7px 9px 10px -7px #bcbcbc;
    border: 1px solid #ebe9e9;
}

.municipal-logo-box .logo {
    width: 100%;
    background-color: #000;
    padding: 10px;
    height: 91px;
    object-fit: contain;
}
.wrapper{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.blog-wrapper{
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 60px;
    background: url(/basement2.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.blog-overlay{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: linear-gradient(to top,#d69e5a,#e8c090); */
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.blog-wrapper .more{
    width: 100%;
    float: left;
    border: 2px solid #ffffff;
    padding: 55px 21px;
}



.blog-wrapper .more h4.ant-typography {
    font-size: 52px;
    color: #ffffff;
    font-weight: 300;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 3px;
}



.blog-wrapper .more h5.ant-typography {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 9px;
    line-height: 26px;
}

.blog-wrapper .more a.ant-btn.round-button{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 19px;
    text-align: center;
    margin-top: 19px;
    font-weight: 600;
    border: none;
    padding: 15px 33px !important;
    height: auto;
    border-radius: 0px;
    width: auto;
    text-transform: uppercase;
}
.blog-card{
    width: 100%;
    padding: 24px;
    margin-bottom: 29px;
    min-height: 350px;
}

.blog-wrapper h3.ant-typography.blog-date{
    font-family: 'Barlow Condensed', 'Poppins', sans-serif;
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 19px;
    text-transform: uppercase
}
.blog-wrapper h2.ant-typography.blog-title{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 29px;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 7px;
    min-height: 90px;
}
.blog-page{
    padding-top:  40px;
    padding-bottom: 40px ;
}
.blog-page h3.ant-typography.blog-date{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 15px;
    width: 100%;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 18px;
    border-bottom: 1px dashed #737373;
    padding-bottom: 17px;
}

.blog-page h2.ant-typography.blog-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}
.blog-page p.blog-content{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 29px;
}

.blog-page .round-button{
    padding: 11px 37px;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 22px;
    cursor: pointer;
    font-family: 'Barlow Condensed', 'Poppins', sans-serif;
    border-radius: 46px;
    width: auto;
    border: 2px solid #1d1f1c;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: inset 0 3px 8px rgb(0 0 0 / 60%);
}
h3.ant-typography.blog-services{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 22px;
    width: 100%;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 0px;
    padding-left: 16px;
    text-transform: uppercase;
}
.bottom-border{
    border-bottom: 1px solid #dfdbdb;
}
h5.ant-typography.blog-services-item{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 17px;
}
a.ant-btn.ant-btn-link.blog-services-item{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 14px !important;
    width: 100%;
    height: auto;
    font-weight: 400;
    margin-bottom: 10px !important;
    text-decoration: none;
    padding: 10px 17px !important;
    text-align: left;
    white-space: break-spaces;
    line-height: 1.5;
}
.border-1{
    border: 1px solid #dfdbdb;
}

.smblog_picture{
    width: 100%;
    height: 248px;
    object-fit: cover;
    object-position: center;
}
.service-description-img{
    width: 100%;
    float: left;
    height: auto;
    object-fit: cover;
    object-position: center;
    position: relative;
}

h5.ant-typography.service-description-page-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}
p.service-description-page-content{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    width: 100%;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 29px;
}

.news-letter-background{
    width: 100%;
    float: left;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: #BFDFEC;
    background-repeat: repeat-x;
    background-image: url(/lopp.png);
    animation: movement 10s linear infinite;
}
.news-letter-background input.ant-input-lg{
    line-height: 1.5715 !important;
}

@keyframes movement{
    0% {
      background-position:0px 0px;
    }
    100%{
      background-position:560px 0px;
    }
  }

.carrers-form{
    width: 100%;
    border: 1px solid #e3e1e1;
    padding: 25px;
    box-shadow: -1px 12px 10px -10px #bdbdbd;
    background-color: #fff;
    padding-left: 36px;
}

.consult{
    padding-top: 40px;
    padding-bottom: 10px
}

h1.ant-typography.consult-title{
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-size: 42px;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    font-weight: 900;
    text-transform: uppercase;
}
h4.ant-typography.consult-sub-title{
    width: 100%;
    float: left;
    font-size: 20px;
    margin-top: 16px;
    color: #000;
}
p.consult-para{
    color: #131010;
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
h1.ant-typography.consult-form-title{
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 50px;
    width: 100%;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: center;
    margin-top: 4px;
}

.contact-box{
    width: 100%;
    background-color: #1c1b1d;
    padding: 30px;
    height: 310px;
}
.contact-main-box{
    height: 340px;
    margin-top: 0px;
    padding: 30px;
    width: 100%;
}
.contact-main-box h4.ant-typography a{
    color: #ffffff;
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-weight: 700;
    float: left;
}


.contact-main-box h3.ant-typography{
    color: #ffffff;
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-weight: 700;
    text-transform: capitalize;
    float: left;
}

.contact-box h3.ant-typography{
    color: #ffffff;
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-weight: 700;
    text-transform: capitalize;
    float: left;
}

.contact-box h4.ant-typography span{
    color: #ffffff;
    font-family: 'Barlow Condensed', 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-weight: 700;
    text-transform: capitalize;
}

.contact-last-box{
    width: 100%;
    background-color: #1c1b1d;
    padding: 30px;
    height: 310px;
}

.contact-last-box h3.ant-typography{
    color: #ffffff;
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.contact-last-box h4.ant-typography span{
    color: #ffffff;
    font-family: 'Barlow Condensed', 'Poppins', sans-serif;
    font-size: 20px !important;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-weight: 700;
    text-transform: capitalize;
    white-space:    break-spaces !important;
}
.contact-box h4.ant-typography a.ant-btn-text{
    padding: 0 !important
}

.contact-avatar{
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.contact-box:hover .contact-avatar{
    box-shadow: 7px 3px 14px 0px #d8ae5e;
}
.contact-last-box:hover .contact-avatar{
    box-shadow: 7px 3px 14px 0px #d8ae5e;
}
.contact-main-box:hover .contact-main-avatar{
    box-shadow: 7px 3px 14px 0px #1d1f1c;
}
a.hover-c-goldish:hover span{
    color: #d8ae5e !important;
}

a.hover-c-blackish:hover span{
    color: #1d1f1c !important;
}

.contact-main-avatar{
    background-color: #c0934d;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
button.ant-btn.ant-btn-text.ant-btn-block.button-overlay {
    text-align: center;
    align-items: center;
    justify-self: center;
    height: 100% !important;
    font-weight:600;
    font-size: x-large !important;
    padding: auto !important;
}
button.ant-btn.ant-btn-text.ant-btn-block.button-overlay:hover{
    color:#d8ae5e !important
}
a.ant-btn.ant-btn-text.ant-btn-block.button-overlay {
    text-align: center;
    align-items: center;
    justify-self: center;
    height: 100% !important;
    font-weight:600;
    font-size: x-large !important;
    padding: auto !important;
}
a.ant-btn.ant-btn-text.ant-btn-block.button-overlay:hover{
    color:#d8ae5e !important
}

form.modal-form .ant-input-lg {
    line-height: 1.42 !important;
}