@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Poppins', cursive !important;
  
}

.bgc-blackish{
  background-color : #1d1f1c ;
}
.bgc-goldish{
  background-color : #d8ae5e ;
}
.bgc-browinsh{
  background-color : #daad66 ;
}
.bgc-white{
  background-color : #ffffff ;
}
.bgc-transparent{
  background-color: transparent ;
  background: transparent ;
}
.c-blackish{
  color : #1d1f1c ;
}
.c-goldish{
  color : #d8ae5e ;
}
.c-white{
  color : #ffffff ;
}
.s-goldish{
  box-shadow: 7px 3px 14px 0px #d8ae5e;
}
.s-t-goldish{
  box-shadow: 0px 2px 14px 7px #d8ae5e;
}
.s-blackish{
  box-shadow: 7px 3px 14px 4px #1d1f1c;
}
.b-blackish{
  border-color : #1d1f1c ;
}
.b-goldish{
  border-color : #d8ae5e ;
}
.b-white{
  border-color : #ffffff ;
}

.c-goldish-hover:hover{
  color : #d8ae5e !important;
}
.b-goldish-hover:hover{
  border-color : #d8ae5e !important;
}
/* HOVER */
.hover-b-blackish:hover{
  border-color : #1d1f1c !important;

}
.hover-b-goldish:hover{
  border-color : #d8ae5e !important;

}
.hover-c-goldish:hover{
  color : #d8ae5e !important;

}
.hover-c-blackish:hover{
  color : #1d1f1c !important;
}
.hover-c-white:hover{
  color : #ffffff !important;

}
.hover-bgc-goldish:hover{
  background-color : #d8ae5e !important;

}
.hover-bgc-transparent:hover{
  background-color: transparent !important;
  background: transparent !important;
}
.hover-bgc-blackish:hover{
  background-color : #1d1f1c !important;

}
.hover-s-goldish:hover{
  box-shadow: 7px 3px 14px 0px #d8ae5e !important;
}
.hover-s-blackish:hover{
  box-shadow: 7px 3px 14px 0px #1d1f1c !important;
}

.sec-bt-goldish{
  border-top: 10px solid #d8ae5e;
}
.sec-bb-goldish{
  border-bottom: 10px solid #d8ae5e;
}
.sec-by-goldish{
  border-top: 10px solid #d8ae5e;
  border-bottom: 10px solid #d8ae5e;
}
/* .shodow-goldish-black{
  box-shadow: 7px 3px 14px 4px #d8ae5e, 3px 3px 6px 4px #1d1f1c;
} */

/* Ant typography */
h1.ant-typography.c-white{
  color : #ffffff ;
}
h2.ant-typography.c-white{
  color : #ffffff ;
}
h3.ant-typography.c-white{
  color : #ffffff ;
}
h4.ant-typography.c-white{
  color : #ffffff ;
}
h5.ant-typography.c-white{
  color : #ffffff ;
}
h1.ant-typography.c-goldish{
  color : #d8ae5e ;
}
h2.ant-typography.c-goldish{
  color : #d8ae5e ;
}
h3.ant-typography.c-goldish{
  color : #d8ae5e ;
}
h4.ant-typography.c-goldish{
  color : #d8ae5e ;
}
h5.ant-typography.c-goldish{
  color : #d8ae5e ;
}
h1.ant-typography.c-blackish{
  color : #1d1f1c ;
}
h2.ant-typography.c-blackish{
  color : #1d1f1c ;
}
h3.ant-typography.c-blackish{
  color : #1d1f1c ;
}
h4.ant-typography.c-blackish{
  color : #1d1f1c ;
}
h5.ant-typography.c-blackish{
  color : #1d1f1c ;
}

/* Menu Color */
.c-goldish.custom-menu li.ant-menu-item.ant-menu-item-selected span.ant-menu-title-content{ 
  color : #d8ae5e !important;
}
.c-blackish .custom-menu li.ant-menu-item.ant-menu-item-selected span.ant-menu-title-content{ 
  color : #1d1f1c !important;
}
.c-goldish.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after{ 
  border-bottom-color : #d8ae5e !important;
}
.c-blackish.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after{ 
  border-bottom-color : #1d1f1c !important;
}
.c-goldish.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after{ 
  border-bottom-color : #d8ae5e !important;
}
.c-blackish.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after{ 
  border-bottom-color : #1d1f1c !important;
}


/* TABS */
.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color : #d8ae5e !important;
}

/* Button */
.bgc-goldish.ant-btn-primary:not([class^="hover-b-"]):hover{
  background-color : #d8ae5e !important;
  background : #d8ae5e !important;
  
}
.bgc-goldish.ant-btn-primary:not([class^="hover-b-"]):hover{
  border-color: #d8ae5e !important;
}
.bgc-blackish.ant-btn-primary:not([class^="hover-b-"]):hover{
  background-color : #1d1f1c !important;
  
}
.bgc-blackish.ant-btn-primary:not([class^="hover-b-"]):hover{
  border-color: #1d1f1c !important;
}

.banner-user{
  height: 220px;
}
.banner-user-elem{
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
}
.banner-user-elem .banner-user-title{
  font-size: 32px;
  top: 40%;
}
.banner-user-elem .banner-user-text{
  top: 40%;
}
.banner-anim-elem .bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.carousel-demo-wrapper {
  position: relative;
  background: #3949C0;
  overflow: hidden;
  height: 500px;
}

.carousel-demo {
  width: 100%;
  height: 100%;
}

.carousel-wrapper {
  position: absolute;
  width: 250px;
  height: 300px;
  margin: auto;
  left: 0;
  right: 0;
  top: 120px;
  padding-top: 350px;
  margin-top: -350px;
}

.carousel {
  position: relative;
  width: 100%;
  margin: auto;
  height: 100%;
}

.carouselContent {
  transform-style: preserve-3d;
  width: 100%;
}

.itemWrapper {
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  width: 100%;
}

.itemWrapper .rotateLayer .bgAndBlurLayer {
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  transition: filter .45s;
  margin: auto;
}

.itemWrapper .rotateLayer .bgAndBlurLayer .contentLayer {
  transition: opacity .65s;
}

.img-wrapper {
  height: 300px;
  background-size: cover;
  background-position: center;
}
.logo-gather-demo-edit-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f1f1f1;
  padding: 0 5%;
  line-height: 45px;
}

.logo-gather-demo-edit-wrapper ul {
  display: block;
  width: 100%;
  overflow: hidden;
}

.logo-gather-demo-edit-wrapper ul li:first-child {
  margin-left: 0;
}

.logo-gather-demo-edit-wrapper ul li {
  float: left;
  vertical-align: middle;
  margin: 0 5px;
}

.logo-gather-demo-wrapper {
  position: relative;
  background: #019BF0;
  overflow: hidden;
  height: 500px;
}

.logo-gather-demo-wrapper .point-wrapper {
  position: absolute;
}

.logo-gather-demo-wrapper .point {
  border-radius: 100%;
}

.logo-gather-demo-wrapper .right-side {
  width: 300px;
  height: 360px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.logo-gather-demo-wrapper .right-side * {
  pointer-events: none;
}

@media screen and (max-width: 414px) {
  .exhibition-details-demo {
    overflow: hidden;
  }

  .logo-gather-demo-edit-wrapper {
    transform: translateY(100%);
    transition: transform .45s ease-in-out;
  }

  .logo-gather-demo-edit-wrapper.open{
    transform: translateY(0);
  }

  .logo-gather-demo-edit-wrapper .anticon-down{
    transition: transform .45s ease-in-out;
  }

  .logo-gather-demo-edit-wrapper.open .anticon-down{
    transform: rotate(180deg);
  }

  .logo-gather-demo-edit-wrapper > div {
    width: 90%;
    line-height: 24px !important;
    margin-bottom: 5px;
  }

  .exhibition-details-demo .edit-button{
    position: absolute;
    top: -20px;
    width: 30px;
    height: 20px;
    border-radius: 30px 30px 0 0;
    background: #f1f1f1;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15);
  }

  .logo-gather-demo-edit-wrapper ul {
    margin: 5px auto;
  }

  .phone-float-none {
    clear: both;
    margin-left: 0 !important;
  }

  .none {
    display: none;
  }

}

.title-no-wrap .ant-card-meta-title{
  white-space: normal !important;
}

div.ant-divider.blue-line {
  margin-top: 0;
  margin-bottom: 40px;
  background-color: #48a7d6;
  height: 2px;
  width: 206px !important;
}

.btn-divider {
  height: auto !important;
  color: #747474;
  padding: 0px 8% !important;
  margin-top: 10px;
}

.projectBtn{
  padding: 13px 70px;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 5px !important;
  height: auto;
  color:  #333333;
  width: 100%
}
.projectBtn:hover{
  /* border-color: #333333; */
  background: #fed03d;
}

.overflowX-hidden{
  overflow-y: hidden;
}

.main-light-title{
  font-weight: 400 !important;
  text-align: center !important;
  font-size: calc(38px + (60 - 45) * (49.2vw - 768px) / (1440 - 768)) !important;
  /* font-size: calc(32px + (50 - 45) * (70vw - 768px) / (1440 - 768)) !important; */
  line-height: 1.31 !important;
  color: #333333 !important;
  text-align: center;
}
h1.ant-typography span {
  font-weight: 700;
}
h2.ant-typography span {
  font-weight: 700;
}
h3.ant-typography span {
  font-weight: 600;
}
h4.ant-typography span {
  font-weight: 700;
}
h5.ant-typography span {
  font-weight: 700;
}

.back-top{
  height: 35px;
  width: 40px;
  line-height: 35px;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

.animated{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.zoomInRight{
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight;
}
.row-margin-null{
  margin: 0px !important
}

@keyframes zoomInRight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.1,.1,.1) translate3d(1000px,0,0);
    transform: scale3d(.1,.1,.1) translate3d(1000px,0,0);
    -webkit-animation-timing-function: cubic-bezier(.55,.055,.675,.19);
    animation-timing-function: cubic-bezier(.55,.055,.675,.19);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(.475,.475,.475) translate3d(-10px,0,0);
    transform: scale3d(.475,.475,.475) translate3d(-10px,0,0);
    -webkit-animation-timing-function: cubic-bezier(.175,.885,.32,1);
    animation-timing-function: cubic-bezier(.175,.885,.32,1);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
}
}

@media only screen and (min-width: 1100px) {
  .main-light-title{
      font-size: 32px !important;
  }
}
@media only screen and (max-width: 500px) {
  .btn-divider {
    padding: 0px 0% !important;
  }
  .projectBtn{
    padding: 13px 70px;
    line-height: 20px;
    letter-spacing: 3px !important;
  }
  .back-top{
    height: 35px !important;
    width: 35px !important;
    line-height: 35px !important;
    border-radius: 6px !important;
    font-size: 14px !important;
  }
}


@-webkit-keyframes fadeInRight {
  0% {
     opacity: 0;
     -webkit-transform: translateX(20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
     opacity: 0;
     transform: translateX(20px);
  }
  100% {
     opacity: 1;
     transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@media only screen and (max-width: 768px) {
  .back-top{
    height: 44px;
    width: 44px;
    line-height: 44px;
    border-radius: 6px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 400px) {
  .projectBtn{
    padding: 10px 50px;
    line-height: 18px;
    letter-spacing: 2px !important;
  }
  
}

@media only screen and (max-width: 340px) {
  .projectBtn{
    padding: 10px 30px;
    line-height: 18px;
    letter-spacing: 2px !important;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  scrollbar-width: thin;
scrollbar-color: #d8d2d2 transparent;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  background-color: #d8d2d2;
  border-radius: 10px;
}

.ant-input-lg {
  line-height: 3.5 !important;
}
