.desktop-headers{
  display: block;
  width: 100%;
}
.mobile-headers{
  display:none
}

/* in use */
.reset-a, .reset-a:hover, .reset-a:visited, .reset-a:focus, .reset-a:active  {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: pointer
}

/* Old classes will be use */
.header-p{
  padding: 0px 30px !important;
}

.header-logo{
  margin: 31px 0px
}

.header1{ 
    background-color: #ab8b65 !important;
    height: auto;
    color: white !important
}
.header_logo{
  /* width: 100%; */
  /* margin-left: 10px; */
  /* margin-top: 4px; */
  height: 100%;
  position: relative
}
.hedear-basement-1{
  width: 100%;
  float: left;
  position: relative;
  z-index: 99;
}
.hedear-basement-mobile-1{
  width: 100%;
  float: left;
  position: relative;
  z-index: 99;
  height: 24px;
}
.header-basement-btn{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 34px;
  font-weight: 600;
  float: none;
  width: auto;
  text-align: left;
  margin-bottom: 0px;
  margin-top: -3px;
  padding-left: 40px;
  border: none;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);
  line-height: 24px;
  height: 99px;
}

.header-basement-btn::after{
  /* content: "";
  position: absolute;
  background: url(/phone-icone.png) no-repeat;
  width: 47px;
  height: 58px;
  left: 47px;
  top: 11px; */
}

.header-basment-mobile-btn{
    font-family: 'Barlow Condensed', 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    float: none;
    /* width: auto; */
    text-align: left;
    margin-bottom: 0px;
    margin-top: -2px;
    padding-left: 30px;
    background-color: #d8ae5e;
    border: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 13% 100%);
    line-height: 24px !important;
    height:auto !important;
    padding-top: 0px !important;
    padding-bottom: 2px !important
    /* height: 86px; */
}
.ant-btn.header-basment-mobile-btn:focus{
  background-color: #d8ae5e;
}
.ant-btn-primary.ant-btn.header-basment-mobile-btn:hover{
  background-color: #d8ae5e;
}
.header-basment-mobile-btn-left{
    font-family: 'Barlow Condensed', 'Poppins', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    float: none;
    /* width: auto; */
    text-align: left;
    margin-bottom: 0px;
    margin-top: -2px;
    padding-left: 5px;
    margin-right: 10px;
    background-color: #1d1f1c;
    border: none;
    clip-path: polygon(100% 0, 87% 100%, 87% 100%, 0 100%, 0 0);
    line-height: 24px !important;
    height:auto !important;
    padding:0px !important;
    padding-bottom: 2px !important
    /* height: 86px; */
}
.ant-btn.header-basment-mobile-btn-left:focus{
  background-color: #1d1f1c;
}
.ant-btn-primary.ant-btn.header-basment-mobile-btn-left:hover{
  background-color: #1d1f1c;
}

.fb-icon {
  color: #3b5998;
  background-color: #ffffff;
}
.tw-icon{
  color: #0378e1;
  background-color: #ffffff;
}


.instagram {
  background-color: #ffffff;
  font-size: 25px;
  width: 1em;
  aspect-ratio: 1;
  background: radial-gradient(
      circle farthest-corner at 28% 100%,
      #fcdf8f 0%,
      #fbd377 10%,
      #fa8e37 22%,
      #f73344 35%,
      transparent 65%
    ),
    linear-gradient(145deg, #3051f1 10%, #c92bb7 70%);
  border-radius: 0.2em;
  position: relative;
  display: grid;
  place-items: center;
}
.instagram::before, .instagram::after {
    content: "";
    color: #fff;
    position: absolute;
    border-radius: inherit;
    aspect-ratio: 1;
}
.instagram::before{
    border: 0.05em solid;
    width: 65%;
}
.instagram::after{
    border-radius: 50%;
    border: 0.05em solid;
    width: 35%;
    box-shadow: 0.22em -0.22em 0 -0.18em;
}

.header2{
  width: 100%;
  float: left;
  position: relative;
  z-index: 9;
  background-color: rgba(57,63,67,0.7);
  line-height: 64px;
  /* line-height: 40px !important; */
}
.header-mobile-2{
  width: 100%;
  float: left;
  position: relative;
  z-index: 9;
  background-color: whitesmoke;
  line-height: 64px;
  /* line-height: 40px !important; */
}
.is-sticky-mobile.header-mobile-2{
  background-color: rgba(57,63,67,0.5);
  line-height: 35px !important;
}

.custom-menu{
  /* line-height: 40px !important; */
  border-bottom: none !important;
  background-color: rgba(57,63,67,0.01) !important;
}

.custom-menu span.ant-menu-title-content{
  font-size: 14px;
  color: #ffffff;
  padding: 20px 20px;
  font-weight: 600;
  text-transform: uppercase;
}


.custom-menu li.ant-menu-item{
  padding: 0px !important
}
.custom-menu li.ant-menu-item.ant-menu-item-selected span.ant-menu-title-content{
  color: #1890ff !important;
}

/* .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item{

} */

/* .ant-menu.custom-menu > .ant-menu-submenu{
  background-color: ;
} */


.mr-a{
  margin: auto 0px !important;
}

.header-1-right{
  width: 260px !important;
}

.sticky-wrapper {
  position: relative;
  height: 3rem; /* We need to change this value */
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  /* background-color: #ffffff !important; */
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 40px !important;
}

.is-sticky-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  /* background-color: #ffffff !important; */
  animation: 500ms ease-in-out 0s normal none 1 running slidein;
  padding-top: 0px;
  padding-bottom: 0px;
}

  
 @media only screen and (max-width: 576px) {
  .header-1-right{
    padding-top: 10px !important;
    width: 100% !important;
  }
  .xs-center{
    justify-content: center;
  }
  
}
/* .header-logo-mobile{
  display: none
} */

.img-visible{
  display: none;
}

.is-sticky-mobile .img-hidden{
  display: none;
}
.is-sticky-mobile .img-visible{
  display:inline
}
header.is-sticky.header-section button.c-white.b-blackish.bgc-blackish.hover-bgc-blackish.hover-b-blackish.hover-c-white.hover-s-goldish{
  color : #1d1f1c !important;
  border-color : #d8ae5e !important;
  background-color: #d8ae5e !important;
  height: auto !important;
  padding: 0px !important;
  width: 70% !important;
}
header.is-sticky.header-section button.c-white.b-blackish.bgc-blackish.hover-bgc-blackish.hover-b-blackish.hover-c-white.hover-s-goldish:hover{
  box-shadow: 7px 3px 14px 4px #1d1f1c !important;
}

 /* @media only screen and (max-width: 862px) {
  .header-logo-standard{
    display: none;
  }
  .nav-header {
    display: none;
  }
  .header-logo-mobile{
    display: flex
  }
  .is-sticky-mobile.header-p.header-logo{
    padding: 0px 10px !important;
    margin: 0px 0px;
    line-height: 50px;
  }
} */

 @media only screen and (max-width: 400px) {
  .header-logo-standard{
    display: none;
  }
  .nav-header {
    display: none;
  }
  /* .header-logo-mobile{
    display: flex
  } */
  .header-p.header-logo{
    padding: 0px 10px !important;
    margin: 0px 0px;
    line-height: 50px;
  }
  .img-hidden{
    display: none;
  }
  .img-visible{
    display:inline
  }
  
}

@media only screen and (max-width: 1070px) and (min-width: 1024px){
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    padding: 0px calc(18px + (50 - 40) * (70vw - 768px) / (1440 - 768)) !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 934px){
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    padding: 0px calc(15px + (50 - 30) * (70vw - 768px) / (1440 - 768)) !important;
  }
}
@media only screen and (max-width: 934px) and (min-width: 863px){
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    padding: 0px calc(12px + (50 - 30) * (70vw - 768px) / (1440 - 768)) !important;
  }
}
