@media only screen and (max-width:450px)  { 
    .header-basment-mobile-btn-icons{
        display: none
    }
}

@media only screen and (max-width:575px)  { 
    .desktop-headers{
        display: none;
    }
    .mobile-headers{
        display: block;
        width: 100%;
        float: left;
        background-color: #5e5e5e;
    }
    h1.ant-typography.carousel-title {
        font-size: 1.5em;
        margin-top: 0.2em;
    }
    h2.ant-typography.carousel-title {
        font-size: 2.5em;
        /* font-size: 1.6em; chat gpt */
    }
    div.ant-typography.carousel-p {
        font-size: 0.9em;
        margin-top: 0.2em;
        margin-bottom: 0.4em;
        line-height: 1.1em;
    }
    h1.welcome-title{
        font-size: 27px;
        margin-top: 14px;
        line-height: 43px;
    }
    h2.choose-title{
        font-size: 37px;
        margin-bottom: 22px;
    }
    h2.ant-typography.services-title{
        font-size: 20px;
    }
    h1.conact-for-basment-renovation{
        font-size: 29px;
        margin-top: 4px;
        line-height: 44px;
    }
    h1.legal-title{
        font-size: 30px;
        margin-bottom: 5px;    
    }
    .carousel-img{
        margin: auto;
        width: 100% !important;
        opacity: 0.5;
        height: 400px !important;
        object-fit: cover;
        object-position: center;
    }
} 
@media only screen and (min-width:576px) and (max-width:767px)  {
    .desktop-headers{
        display: none;
    }
    .mobile-headers{
        display: block;
        width: 100%;
        float: left;
        background-color: #5e5e5e;
    }
    .carousel-img{
        margin: auto;
        width: 100% !important;
        opacity: 0.5;
        height: 500px !important;
        object-fit: cover;
        object-position: center;
    }
    .carousel-container {
        width: 750px;
    }
   
    h1.ant-typography.carousel-title {
        font-size: 2em;
        margin-top: 0.5em;
    }
    h2.ant-typography.carousel-title {
        /* font-size: 2em; chat gpt */
        font-size: 3em;
    }
    h1.conact-for-basment-renovation{
        font-size: 35px;
        margin-top: 4px;
        line-height: 44px;
    }
    div.ant-typography.carousel-p {
        font-size: 0.9em;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
        line-height: 1.2em;
    }
} 
@media only screen and (min-width:768px) and (max-width:991px)  { 
    .carousel-container {
        width: 970px;
    }
    h1.ant-typography.carousel-title {
        font-size: 2.5em;
        margin-top: 0.8em;
    }
    h2.ant-typography.carousel-title {
        font-size: 3.2em;
        /* font-size: 2.4em; chat gpt */
    }
    h2.ant-typography.services-title{
        font-size: 25px;
    }
    div.ant-typography.carousel-p {
        font-size: 1.1em;
        margin-top: 0.9em;
        margin-bottom: 1em;
        line-height: 1.3em;
    }
} 

/* For screens between 992px and 1124px */
@media only screen and (max-width: 1124px) and (min-width: 992px) {
    /* h2.ant-typography.carousel-title {
        font-size: 2.8em;
    } */
}
/* @media only screen and (min-width:1024px) and (max-width:1899px) { 

} 
@media only screen and (min-width:1900px) { 

}  */


