@media only screen and (max-width:450px)  { 
    .header-basment-mobile-btn-icons{
        display: none
    }
}

@media only screen and (max-width:400px)  { 
    a.ant-btn.conact-area-btn{
        font-weight: 600;
        padding: 10px 20px !important;
        /* width: 180px; */
    }
}

@media only screen and (min-width:520px) and (max-width:574px)  { 
    a.ant-btn.conact-area-btn{
        font-weight: 600;
        padding: 15px 35px !important;
        /* width: 180px; */
    }
    a.ant-btn.ant-btn-text.ant-btn-block.button-overlay{
        font-size: small;
    }
    .desktop-about-us{display: none}
}

@media only screen and (max-width:575px)  { 
    .desktop-headers{
        display: none;
    }
    .mobile-headers{
        display: block;
        width: 100%;
        float: left;
        background-color: #5e5e5e;
    }
    h1.ant-typography.carousel-title {
        font-size: 1.5em;
        margin-top: 0.2em;
    }
    h2.ant-typography.carousel-title {
        font-size: 2.5em;
        /* font-size: 1.6em; chat gpt */
    }
    div.ant-typography.carousel-p {
        font-size: 0.9em;
        margin-top: 0.2em;
        margin-bottom: 0.4em;
        line-height: 1.1em;
    }
    h1.welcome-title{
        margin-top: 14px;
        line-height: 43px;
    }
    h2.choose-title{
        /* font-size: 37px; */
        margin-bottom: 22px;
    }
    h2.ant-typography.services-title{
        font-size: 20px;
    }
    h1.conact-for-basment-renovation{
        margin-top: 4px;
        line-height: 44px;
    }
    h1.legal-title{
        margin-bottom: 5px;    
    }
    h3.ant-typography.service-title{
        /* font-size: 34px; */
        margin-bottom: 5px;
    }
    h1.ant-typography{
        font-size: 37px;
    }
    h2.ant-typography{
        font-size: 25px ;
    }
    h3.ant-typography{
        font-size: 22px ;
    }
    .carousel-img{
        margin: auto;
        width: 100% !important;
        opacity: 0.5;
        height: 490px !important;
        object-fit: cover;
        object-position: center;
        
    }
    .ant-input-lg {
        line-height: 1.5 !important;
    }

    a.ant-btn.ant-btn-text.ant-btn-block.button-overlay{
        font-size: medium;
    }
    .desktop-about-us{display: none}
    button.ant-btn.ant-btn-text.ant-btn-block.button-overlay{
        font-size: large !important;
    }
} 

@media only screen and (min-width:576px) and (max-width:767px)  {
    .desktop-headers{
        display: none;
    }
    .mobile-headers{
        display: block;
        width: 100%;
        float: left;
        background-color: #5e5e5e;
    }
    .carousel-img{
        margin: auto;
        width: 100% !important;
        opacity: 0.5;
        height: 490px !important;
        object-fit: cover;
        object-position: center;
    }
    .carousel-container {
        width: 750px;
    }
   
    h1.ant-typography.carousel-title {
        font-size: 2.8em;
        margin-top: 0.5em;
    }
    h2.ant-typography.carousel-title {
        /* font-size: 2em; chat gpt */
        font-size: 3em;
    }
    h1.conact-for-basment-renovation{
        margin-top: 4px;
        line-height: 44px;
    }
    div.ant-typography.carousel-p {
        font-size: 0.9em;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
        line-height: 1.2em;
    }
    .ant-input-lg {
        line-height: 1.5 !important;
    }
    .side-image{
        display: block
    }
    .middle-image{
        display: none;
    }
    .desktop-about-us{display: none}
    button.ant-btn.ant-btn-text.ant-btn-block.button-overlay{
        font-size: larger !important;
    }
} 

@media only screen and (min-width:768px) and (max-width:991px)  { 
    .carousel-container {
        width: 970px;
    }
    h1.ant-typography.carousel-title {
        font-size: 2.5em;
        margin-top: 0.8em;
    }
    h2.ant-typography.carousel-title {
        font-size: 2.8em;
        /* font-size: 2.4em; chat gpt */
    }
    h2.ant-typography.services-title{
        font-size: 25px;
    }
    div.ant-typography.carousel-p {
        font-size: 1.1em;
        margin-top: 0.9em;
        margin-bottom: 1em;
        line-height: 1.3em;
    }
    .ant-input-lg {
        line-height: 2.5 !important;
    }
    .side-image{
        display: none
    }
    .middle-image{
        display: block;
    }
    .mobile-about-us{display: none}
} 

/* For screens between 992px and 1124px */
@media only screen and (max-width: 1024px) and (min-width: 992px) {
    .mobile-about-us{display: none}
    /* .core-values{
        width: 100%;
    } */
}
@media only screen and (min-width:1024px) and (max-width:1899px) { 
    .mobile-about-us{display: none}
} 
/* 
@media only screen and (min-width:1900px) { 

}  */


