
.intro{
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 50px;
}

.intro-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.intro-container h3{
    color: #000000;
    font-size: 23px;
    text-align: left;
    width: 100%;
    margin-top: 40px;
    font-weight: 700;
    float: left;
    margin-bottom: 0px;
}
.intro-container p {
    color: #000000;
    font-size: 16px;
    text-align: left;
    width: 100%;
    margin-top: 26px;
    font-weight: 400;
    line-height: 30px;
    float: left;
    padding-right: 22px;
}
.lop_mommb {
    color: #000000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    text-align: left;
    width: auto;
    margin-top: 30px;
    font-weight: 600;
    float: left;
    margin-bottom: 0px;
    background-color: #28427b;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 15px 25px;
}

.welcome{
    width: 100%;
    float: left;
    background: url(/basement2.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 55px;
    padding-bottom: 55px;
}
.welcome-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.welcome-picture{
    width: 94%;
    float: left;
    height: 438px;
    object-fit: cover;
    object-position: center;
}
h1.welcome-title{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    text-align: left;
    width: 100%;
    margin-top: 34px;
    font-weight: 700;
    float: left;
    line-height: 68px;
    text-transform: uppercase;
}
p.welcome-describtions{
    color: #ffffff;
    font-family: 'IBM Plex Sans', 'Poppins', sans-serif;
    font-size: 15px;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    font-weight: 400;
    line-height: 30px;
    float: left;
    padding-right: 22px;
}

.welcome-overlay{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: linear-gradient(to top,#d69e5a,#e8c090); */
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* 


.welcome-btn{
    position: relative;
    top: -26px;
}

div.welcome-btn button {
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 0px;
    background: #333333;
    letter-spacing: 2.47px;
    color: #ffffff;
    padding: 13px 29px;
    height: auto
}

div.welcome-btn button:hover {
    border-color: #333333;
    background: #ffffff;
    color: #333333;
}

.welcome-overview {
    padding: 40px 30px 50px;
}

div.welcome-overview h1{
    text-align: center;
    font-size: calc(39px + (60 - 42) * (51.9vw - 768px) / (1440 - 768)) !important;
    line-height: 1.31;
    font-weight: 700;
}

div.welcome-overview span.ant-typography{
    font-size: 15px !important;
    line-height: 2.27;
    color:#747474;
}


@media only screen and (min-width: 1100px) {
    h2.welcome-title{
        font-size: 32px !important;
    }
    div.welcome-overview h1{
        font-size: 34px !important;
    }
    
}

@media only screen and (max-width: 767px) {
    .welcome-overview {
        padding: 40px 30px 70px;
    }
    
} */


